<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1012">
    <link rel="icon" type="image/vnd.microsoft.icon" href="favicon.ico">
    <link rel="stylesheet" href="css/style.min.css" media="all"/>
    <script src="js/01_jquery-2.0.3.min.js"></script>
    <script src="js/all.min.js"></script>
    <!--[if lte IE 9 ]>
        <script src="js/flexie.js"></script>
        <style>
            .b-promo{
                padding-top:150px;
            }
            .container{
                float:none!important;
            }
            .b-footer__information p:last-child{
                padding-bottom:30px;
            }
        </style>
    <![endif]-->
    <!--[if lte IE 8 ]><script type="text/javascript">window.location.href="ie8min/index.html";</script><![endif]-->
</head>
    <body>
        <header class="b-header">
            <div class="b-header__header">
                <div class="container">
                    <div class="b-header__left">
                        <a class="b-header__logo" href="index.html"><img src="images/logo.svg" width="157" alt="Walton"/></a>
                        <nav class="b-header__nav">
                            <a href="#"><span class="text">Оффшоры</span></a><a href="#"><span class="text">Международные Банки</span></a><a href="#"><span class="text">Forex</span></a><a href="#"><span class="text">Франчайзинг</span></a>
                        </nav>
                    </div>
                    <div class="b-header__right">
                        <div class="b-header__tel">+44 203 368 63 99</div>
                        <div class="b-header__lang">
                            Великобритания
                        </div>
                    </div>
                </div>
            </div>
            <div class="b-promo">
                <div class="container">
                    <div class="b-promo__text">
                        <p>По статистике: <em>Читателю требуется меньше минуты, чтобы решить – читать текст дальше или закрыть его.</em></p>
                        <h1>Мы ценим ваше <span class="decoration">время</span></h1>
                        <p class="large">Поэтому просим уделить нам всего <strong>30 секунд</strong>.<br />А дальше, решайте сами. </p>
                        <div class="b-promo__tbtnw">
                            <a class="pr-timebtn" href="#">Засечь время!</a>
                        </div>
                    </div>
                    <ul class="b-promo__social b-social">
                        <li class="b-social__item"><a href="#">Напишите нам</a></li>
                        <li class="b-social__item"><a class="vk" href="#">Вконтакте</a></li>
                        <li class="b-social__item"><a class="fb" href="#">Фейсбук</a></li>
                        <li class="b-social__item"><a class="tw" href="#">Твиттер</a></li>
                    </ul>
                </div>
            </div>
        </header>