$base__font: BlissPro, arial, helvetica;
$base__color: #000;
$base__font-size: 10;
$base__background: #000;

@function em($px, $base: $base__font-size){
    @return ($px / $base) *1em;
}

/*grid*/
$cols: 10;
$gutter: 1.8367346938776%;

$one_col: (100% - ($gutter * ($cols - 1))) / $cols;

@mixin cols($num) {
    width: ($one_col * $num) + ($gutter * ($num - 1));
}
@mixin offset($num, $first) {
    @if $first == true{
        margin-left: ($one_col * $num) + ($gutter * $num);
        } @else {
        margin-left: ($one_col * $num) + ($gutter * ($num + 1));
    }
    
}